@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* Type */

h1.heroHead {
	font-family: "Rubik", sans-serif;
	font-size: 3.75em;
	font-weight: 400;
	color: #414141;
    margin-bottom: 0;
}

h1.portfolioTitle {
	font-family: "Rubik", sans-serif;
	font-size: 35px;
	color: #4F4F4F;
	font-weight: 400;
    margin-top: 3.5em;
    margin-bottom: 0.3em;
}

h1.projectTitle {
	font-family: "Rubik", sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: #4F4F4F;
	margin-bottom: 0;
	margin-top: 2.5em;
}

h2.homeTitle {
	font-family: "Rubik", sans-serif;
	color: #414141;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
}

h2.projectTitle {
	font-family: "Rubik", sans-serif;
	margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 24px;
	color: #414141;
}

h2.GDtitle {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	color: #414141;
	font-size: 42px;
    margin-top: 0.5em;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    margin: auto;
}

h3.about {
	color: #A2D5D8;
	font-size: .8em;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

h3.GDsubtitle {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	color: #414141;
	font-size: 28px;
    margin-top: 0.5em;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 0.7em
}

h3.projectSubtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 100;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	color: #414141;
}

h3.project-title {
	font-family: "Rubik", sans-serif;
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 0.75em;
	color: #414141;
}

h3.proj-subtitle {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #414141;
}

h3.work-title {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	color: #414141;
	font-size: 1.25em;
	margin-bottom: 0.3em;
	margin-top: 0.7em;
}

h4.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #9A9A9A;
	margin-top: 0;
    margin-bottom: 3.2em;
}

h4.subtitle2 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
	font-weight: 400;
	margin-bottom: 0.4em;
	color: #414141;
}

h4.projectDate {
	font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #9A9A9A;
    margin-top: 0.2em;
    margin-bottom: 3em;
    text-align: center;
}

h4.GDprojectDate {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #9A9A9A;
    margin-top: 0.3em;
    margin-bottom: 4em;
    text-align: center;
}


h4.projectType {
	font-family: "Rubik", sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    color: #9A9A9A;
    margin-top: 0.5em;
    margin-bottom: 2em;
    line-height: 1.5em;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

p.caption {
    font-size: 12.5px;
    font-weight: 100;
    margin: 0 0 3.8em 0;
    color: #8e8e8e;
    text-align: center;
    line-height: 1.8em;
}

p.GDprojectinfo {
	text-align: center;
    color: #414141;
    font-weight: 100;
    font-size: 14.5px;
    width: 70%;
    margin: auto;
    line-height: 1.7em;
    padding-bottom: 1em;
}

p.GDinfoA {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #9A9A9A;
    margin-bottom: 0;
    margin-top: 0.4em;
    padding-top: 3em;
}


p.homeBody {
	color: #414141;
    font-weight: 100;
    margin-top: 10px;
}

p.heroBody {
	font-size: 1em;
	font-weight: 100;
	color: #9A9A9A;
}

p.infoA {
	font-weight: 600;
	color: #414141;
	margin-bottom: 0;
	font-size: 16px;
}

p.infoB {
	font-weight: 100;
	color: #414141;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
	font-size: 16px;
}

p.list-desc {
	font-weight: 100;
	font-weight: 100;
    margin: 0 0 1em 0;
}

p.project-desc-home {
	font-size: 1em;
	color: #414141;
	margin-top: 1.75em;
    font-weight: 100;
    line-height: 1.5em;
}

p.projectMeta {
	font-size: 14px;
	color: #414141;
	margin-top: 0.3em;
    font-weight: 100;
    line-height: 1.5em;
}

p.projectBody {
	font-size: .9em;
	color: #4F4F4F;
	margin-top: 1.5em;
    font-weight: 100;
    line-height: 1.6em;
}

p.project-desc {
	font-weight: 100;
	margin: 0 0 1em 0;
}

p.quote {
	font-weight: 100;
	font-size: 1.3em;
	font-style: italic;
	margin: 0 0 2.2em 0;
}

p.work-description {
	color: #414141;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 4em;
    max-width: 60%;
    font-size: 16px;
}

/* Links */

a {
	font-family: "Rubik", sans-serif;
	text-decoration: none;
	position: relative;
	font-size: 15px;
}

a.anchor {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
    font-weight: 100;
    color: #a2d5d8;
}

	a.anchor:hover {
		color: #c1e6e8;
	}

a.navLink {
	font-weight: 100;
	color: #9A9A9A;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 16px;
}

a.navLink:hover{
	color: #5DC3C9;
	font-size: 16px;
}

a.navName {
	color: #9A9A9A;
	font-size: 16px;
}

	a.navName:hover{
		color: #5DC3C9;
	}

a.viewWork {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 100;
	text-decoration: none;
	color: #3A98DF;
	position: absolute;
    bottom: 0;
}

	a.viewWork:hover {
		color: #98D3FF;
	}

a.projectPic {
    max-width: 100%;
    width: 450px;
    height: 325px;
    margin-right: 2.8em;
}
	.projectPic:hover {
		opacity: 0.6;
	}

a.projectPicBox {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-right: 2.8em;
}
	.projectPicBox:hover {
		opacity: 0.6;
	}

a.projectPicContainer {
	max-width: 100%;
	height: 250px;
}
	a.projectPicContainer:hover {
		opacity: 0.8;
	}

a.person {
	font-family: 'Open Sans', sans-serif;
	color: #5DC3C9;
}

	a.person:hover {
		color: #fff;
		background-color: #5DC3C9;
	}

/* Lists */

ul {
	font-family: "Open sans", sans-serif;
	font-weight: 100;
	font-size: 16px;
}

/* Nav */

nav {
	display: flex;
	vertical-align: baseline;
	width: 100%;
}

.navLeft {
	width: 40%;
	float: left;
}

.navRight {
	width: 60%;
	text-align: right;
}

i {
    border: solid #4f4f4f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}

a.arrownav {
    font-family: "Open Sans", sans-serif;
    color: #4f4f4f;
    font-weight: 300;
}

	a.arrownav:hover {
		color: #5DC3C9
	}

.arrowleft {
    -webkit-transform: rotate(135deg);
}

.arrowright {
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.projnav {
	margin-top: 5em;
	display: flex;
}

.projnavleft {
	text-align: left;
	width: 50%
}

.projnavright {
	 text-align: right;
	width: 50%;
}

/* Img */

img {
	display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

img.side {
	max-width: 415px;
    max-height: 300px;
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 15px;
}

img.projectMock {
	max-width: 850px;
	overflow: auto;
	height: auto;
	margin-top: 1.3em;
}

img.projectMockWhite {
	max-width: 850px;
	overflow: auto;
	height: auto;
	margin-top: 1.3em;
	border: 1px solid #d8d8d8;
}

img.fullwidth {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

img.disabledBox {
	max-width: 100%;
    width: auto;
    height: auto;
    margin-right: 2.8em;
}
	img.disabledBox:hover {
		opacity: 0.6;
	}

/* Divs */

.twocolumn {
	width: 30%;
}

.box {
	height: auto;
	width: auto;
	overflow: hidden;
}

.container {
	display: block;
	max-width: 850px;
	padding-top: 35px;
	padding-left: 250px;
	padding-right: 250px;
	padding-bottom: 100px;
	margin: auto;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.GDbox {
	max-width: 100%;
	min-height: 345px;
}

.GDpage {
    margin-top: 4em;
}

.GDpage2 {
    margin-top: 4em;
    margin-bottom: 3em;
}

.GDinfo {
	display: block;
}

.hero {
	max-width: 400px;
    margin-bottom: 15em;
    margin-top: 8em;
}

.image2 {
	display: flex;
}

.imageContainerMW {
	height: auto;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 2.25em;
}

.imageLeft {
	display: flex;	
}

.metaDesc {
	display: flex;
}

.metaLeft {
	width: 35%;
}

.metaRight {
	text-align: left;
}

.projectDesc {
	width: 50%;
	position: relative;
}

.portfolioDesc {
	/*width: 100%;*/
	margin-top: 2.8em;
	/*position: absolute;*/
}

.overview {
	margin-bottom: 4em;
	line-height: 1.75em;
}

.work {
	margin-top: 100px;
}

.workSection {
	display: flex;
	padding-bottom: 6em;
}

.workDesc{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3.5em;
}

.uiuxWork {
	display: flex;
	margin-bottom: 6.5em;
}

/*Responsive*/

@media (min-width: 1025px) and (max-width: 1440px){
	.container {
    	padding: 30px 125px;
	}
	.projectMock {
	}
	.navLeft {
		width: 30%
	}
	.navRight {
		width: 100%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.container {
    	padding: 30px 50px;
	}
	.navLeft {
		width: 30%
	}
	.navRight {
		width: 100%;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.container {
    	padding: 15px;
	}
	.metaDesc {
		display: block;
	}
	.metaLeft {
		width: 100%;
	}
	.metaRight {
		widows: 100%;}
	nav {
		display: block;
	    width: 100%;
	}
	.navRight {
		width: 100%;
	    text-align: center;
	    display: grid;
	    line-height: 25px;
	}
	.navLeft {
		width: 100%;
	    text-align: center;
	    padding-bottom: 12px;
	}
	a.navLink {
		font-size: 20px;
		line-height: 35px;
	}
	a.navName {
		font-size: 20px;
	}
	p.work-description {
		margin-bottom: 3em;
		max-width: 100%;
	}
	.projectDesc {
		width: 100%;
	}
	a.viewWork {
		position: inherit;
	}
	.workSection {
		display: block;
	}
	h1.portfolioTitle {
		margin-top: 2.5em;
	}
	h2.projectTitle {
		margin-top: 1em;
	}
	.imageLeft {
		display: block;
	}
	img {
		max-width: 850px;
		overflow: hidden;
		height: auto;
	}
	.image2 {
		display: block;
	}
	.twocolumn {
	    width: 100%;
	    display: flex;
	    justify-content: space-between;
	}
	.GDbox {
	    max-width: 47%;
	    min-height: 345px;
    }
    .grid {
    	display: block;
    }
}

@media all and (max-width: 425px) {
	.container {
    	padding: 5px;
    }
	.twocolumn {
		width: 100%;
		display: block;
	}
	.grid {
		display: block;
	}
	.GDbox {
		width: 100%;
	}
	.metaDesc {
		display: block;
	}
	.metaLeft {
		width: 100%;
	}
	.metaRight {
		widows: 100%;}
	nav {
		display: block;
	    width: 100%;
	}
	.navRight {
		width: 100%;
	    text-align: center;
	    display: grid;
	    line-height: 25px;
	}
	.navLeft {
		width: 100%;
	    text-align: center;
	    padding-bottom: 12px;
	}
	a.navLink {
		font-size: 20px;
		line-height: 35px;
	}
	a.navName {
		font-size: 20px;
	}
	p.work-description {
		margin-bottom: 3em;
		max-width: 100%;
	}
	.projectDesc {
		width: 100%;
	}
	a.viewWork {
		position: inherit;
	}
	.workSection {
		display: block;
	}
	h1.portfolioTitle {
		margin-top: 2.5em;
	}
	h2.projectTitle {
		margin-top: 1em;
	}
	.imageLeft {
		display: block;
	}
	img {
		max-width: 850px;
		overflow: hidden;
		height: auto;
	}
	img.fullwidth {
		width: auto;
		height: 335px;
	    object-fit: cover;
	    object-position: left;
	}
	.image2 {
		display: block;
	}
}

@media all and (max-width: 768px) {
	h2.GDtitle, p.GDprojectinfo {
		width: 100%;
	}
}
