@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,300i,400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i');

/* Variables */

/*$black: #424242;
$grey: #BDBDBD;
$blue: #5B95EB;*/

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;;
}

/* Type */

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	color: #424242;
}

h1.hero-title {
	font-weight: 900;
    font-size: 2.85em;
    margin-bottom: 0;
    opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
	animation-delay: 0.1s;
}

h1.construct-text {
	font-size: 1.8em;
	text-align: center;
}

h2.GDtitle {
    font-weight: 600;
    color: #414141;
    font-size: 2.35em;
    margin-top: 0.5em;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    margin: auto;
}

h2.misc-title {
    font-size: 2em;
    color: #424242;
    margin-top: 2.2em;
    margin-bottom: 0;
}

h2.about {
	font-size: 1.5em;
    color: #424242;
    margin-top: 0;
    margin-bottom: 1em;
}

h3.GDsubtitle {
	font-weight: 600;
    color: #414141;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 0.7em
}

h3.hero-subtitle {
	font-weight: 700;
	font-size: 1.5em;
	margin-top: 0.1em;
    margin-bottom: 2em;
	color: #5B95EB;
    opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
	animation-delay: 0.2s;

}

h3.construction-subtext {
	font-weight: 400;
	font-size: 0.9em;
	text-align: center;
}

h3.work-title {
		font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -10.1em;
}

h4.GDprojectDate {
    font-weight: 300;
    color: #9A9A9A;
    margin-top: 0.3em;
    margin-bottom: 4em;
    text-align: center;
}

h4.misc-subtitle {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	margin-top: 0.8em;
}

#photog-subtext {
	width: 60%;
}

h4.project-type {
    font-family: "Nunito", sans-serif;
    font-size: .85em;
    color: #9e9e9e;
    font-weight: 100;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

h4.section-title {
	font-weight: 900;
    font-size: 1.8em;
    margin-top: 2.7em;
    margin-bottom: 0.6em;
}

h5.section-subtitle {
	font-weight: 700;
    font-size: 1.25em;
    margin-top: 2.25em;
    margin-bottom: 1.25em;
}

h5.section-subtitle-s {
	font-weight: 700;
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

p {
	font-family: "Nunito", sans-serif;
	font-size: 0.95em;
	font-weight: 100;
	line-height: 1.8em;
	color: #424242;
	margin-bottom: 1.8em;
}

p.caption {
	font-family: 'Nunito', serif;
	font-weight: 100;
	font-style: italic;
	font-size: 0.8em;
	color: #BDBDBD;
	text-align: center;
	margin-bottom: 4.5em;
}

p.GDprojectinfo {
	text-align: center;
    color: #414141;
    font-weight: 100;
    font-size: 14.5px;
    width: 70%;
    margin: auto;
    line-height: 1.7em;
    padding-bottom: 1em;
}

p.hero-para {
	width: 70%;
	opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
	animation-delay: 0.35s;
}

p.footer-text {
	font-size: 0.85em;
	margin-top: 12em;
	margin-bottom: 0.5em;
}

p.GDinfo {
	width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: #9A9A9A;
    margin-bottom: 0;
    margin-top: 0.4em;
    padding-top: 3em;
}

p.project-info {
	font-size: 0.94em;
    width: 45%;
    margin-top: 2.4em;
    line-height: 1.6em;
}

p.proj-tags {
	color: #BDBDBD;
	font-size: 0.92em;
	margin-top: 0;
    margin-bottom: 3.5em;
}

p.quote {
    font-family: 'Bitter', serif;
    font-weight: 100;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 2em 0;
}

ul {
	font-family: "Nunito", sans-serif;
	font-size: 0.95em;
	font-weight: 100;
	line-height: 1.8em;
	color: #424242;
	margin-bottom: 1.8em;
}

/* Links */

a {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
}

a.anchor {
	font-size: 16px;
    font-weight: 100;
    color: #5B95EB;
}

	a.anchor:hover {
		opacity: 0.6;
	}

a.projectPicBox {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-right: 2.8em;
}

a.email {
	color: #5B95EB;
}

	a.email:hover {
		opacity: 0.6;
	}

a.document {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #5b95eb;
}

	a.document:hover {
		opacity: 0.6;
	}

a.filter {
	font-size: 0.95em;
    font-weight: 700;
	color: #5B95EB;
}

	a.filter:hover {
		opacity: 0.6;
		transform: 0.5s ease;	
	}

a.person {
	color: #5B95EB;
}

	a.person:hover {
		color: #fff;
		background-color: #5B95EB;
	}

.home-button {
    background: #5B95EB;
    border-radius: 100em;
    padding-left: 1em;
    padding-right: 1em;
    height: 2.8em;
    width: 12.1em;
    margin-top: 2em;
    color: white;
    text-decoration: none;
    border: none;
    font-weight: 300;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    cursor: pointer;
}

	.home-button:hover {
		transform: translate(0, -10px);
		transition: ease-in .2s;
	    -o-transition: ease-in .2s;
	    -moz-transition: ease-in .2s;
	    -webkit-transition: ease-in .2s;
	    background: #9ED0FF;
	}

a.button-link {
	text-decoration: none;
	cursor: pointer;
}

/* Gallery */

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(250,250,250,0.9);
}

.lightbox img {
	/** Pad the lightbox image */
	width: auto;
	max-height: 90%;
	margin: 2.5% auto;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.gallery {
	padding: 0 6px;
    float: left;
    width: 24.99999%;
}

img.photog-img {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}

.gallery-container {
	margin: 2.5em 0.5em 4em 0.5em;
}

.gal-img {
	width: 100%;
    height: auto;
    overflow: hidden;
    height: 265px;
    background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 1em;
}

	.gal-img:hover {
		opacity: 0.6;
	}

#lostintime {
    top: -200px;
}


#fdr {
    top: -150px;
}

#vivian {
    top: -205px;
}

#tobermory {
    top: -220px;
}

#lookup {
    top: -150px;
}

#lookdown {
    top: -165px;
}

#yellowcab {
    top: -300px;
}

#christyblossom {
    background-image: url('../images/photography/christyblossom.jpg');
    background-position: center 50%;
}

#paces2 {
    top: -200px;
}

#manhattan {
    top: -180px;
}

#bell {
    background-image: url('../images/photography/bell.jpg');
    background-position: center 45%;
}

#street {
    top: -250px;
}

#aura {
    top: -200px;
}

#aurafeet {
    top: -30px;
}

#cherryblossom {
    top: -100px;
}

#paces {
    top: -130px;
}

#vivian2 {
    top: -180px;
}

#lookdown2 {
    top: -170px;
}

#nycshore {
    top: -200px;
}

#oculus {
    top: -330px;
}

#brooklyn {
    top: -170px;
}

#sarah {
	top: -180px;
}

#sarah2 {
    top: -135px;
}

#muroof{
    top: -200px;
}

#lookup2 {
    top: -130px;
}

#tobermory2 {
    top: -50px;
}

#sfcity {
    top: -200px;
}

#wloofog {
    top: -100px;
}


/* Nav */

a.nav-link {
	font-weight: 300;
	font-size: 0.9em;
	color: #BDBDBD;
	text-decoration: none;
}

	a.nav-link:hover {
		color: #5B95EB;
	}

a.nav-link-l {
	font-weight: 300;
	font-size: 0.9em;
	letter-spacing: 0.4px;
	color: #BDBDBD;
	text-decoration: none;
}

	a.nav-link-l:hover {
		color: #5B95EB;
	}

nav {
	display: flex;
	width: 100%;
}

nav.home-nav {
	display: flex;
	width: 100%;
	opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
}

.navLeft {
	width: 55%;
	float: left;
}

.navRight {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

i.fa-lg {
	font-size: 1.3em;
	color: #5B95EB;
}

i.fa-lg2 {
	font-size: 1.15em;
	color: #5B95EB;
	transform: translate(0, 3px);
}

i.fa-md {
	font-size: 1em;
	color: #5B95EB;
}

	i.fa-lg:hover {
		opacity: 0.6;
	}

	i.fa-lg2:hover {
		opacity: 0.6;
	}

i.arrow {
	border: solid #4f4f4f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}

#scrollToTop {
    position: fixed;
    bottom: 2.5em;
    right: 3em;
    z-index: 999;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    height: 45px;
    width: 45px;
}

	#scrollToTop:hover {
		opacity: 0.6;
	}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

a.arrownav {
	font-size: 0.9em;
    color: #4f4f4f;
    font-weight: 300;
}

	a.arrownav:hover {
		color: #5B95EB;
	}

.arrowleft {
	border: solid #4f4f4f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(135deg);
}

.arrowright {
	border: solid #4f4f4f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.projnav {
	margin-top: 5em;
	display: flex;
	margin-bottom: 1em;
}

.projnavleft {
	text-align: left;
	width: 50%
}

.projnavright {
	text-align: right;
	width: 50%;
}

/* Imgs */

img {
	display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

img.projectMock {
	margin-bottom: 1em;
}

img.work-pic {
	width: 70%;
    display: block;
    justify-content: space-between;
	overflow: auto;
	height: auto;
	margin-top: 3.5em;
}

img.work-pic-full {
	width: 100%;
    display: block;
    justify-content: space-between;
	overflow: auto;
	height: auto;
	margin-top: 3.5em;
}

img.work-pic-white {
	width: 70%;
    display: block;
    justify-content: space-between;
	overflow: auto;
	height: auto;
	margin-top: 3.5em;
	border: 1px solid #d8d8d8;
}

/* Divs */

.about-left {
	width: 36%;
}

.about-right {
	width: 60%;
}

.about-sect {
	display: flex;
	justify-content: space-between;
	margin-top: 5em;
}

.about-img {
	width: 280px
}

.banner {
	width: 100vw;
    margin-top: 0.6em;
    overflow: hidden;
    height: 815px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
	left: 50%;
  	right: 50%;
  	margin-left: -50vw;
  	margin-right: -50vw;
  	z-index: -100;
}

.break {
	margin-top: 5em;
    text-align: center;
    font-family: "Lato";
    font-weight: 100;
    letter-spacing: 0.5em;
}

.col-3 {
	float: left;
	width: 49%;
	padding-bottom: 80em;
}

	.last {
		margin-right: 0;
	}

.container {
	display: block;
	max-width: 775px;
	padding-top: 15px;
/*	padding-left: 250px;
	padding-right: 250px;*/
	padding-bottom: 5px;
	margin: auto;
}

.construction {
	margin-top: 16em;
	margin-bottom: 21em;
}

.grid {
	display: flex;
	justify-content: space-between;
	margin-top: 3em;
}

.herocontainer {
	margin-top: 7em;
}

.hero-icons {
	margin-top: 4em;
	display: flex;
    width: 27%;
    justify-content: space-between;
    opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
	animation-delay: 0.4s;
}

.homecontainer {
	width: 47%;
	margin-bottom: 4em;
}

	.homecontainer:hover {
		top: -0.8em;
		position: relative;
	}

.home-img {
	width: 100%;
    overflow: hidden;
    height: 245px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.3em;
}

	.home-img:hover {
		opacity: 0.7;
		transition: .7s ease;
	}

.home-imgblock {
	width: 100vw;
    height: 325px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
	left: 50%;
  	right: 50%;
  	margin-left: -50vw;
  	margin-right: -50vw;
  	z-index: -100;
}

.misc-img {
	height: 112.875%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	margin-bottom: -0.4em;
	opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
	
	.overlay:hover {
		opacity: 1;
		background: rgba(0,0,0,0.65);
	}


.hovertext {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 1.65em;
  position: relative;
  top: 45%;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hoversubtext {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 1.05em;
  position: relative;
  max-width: 92.5%;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.tags {
	display: flex;
    width: 38%;
    justify-content: space-between;
    margin-top: 2.25em;
}

.work-block {
	height: 325px;
	opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
}

.work-container {
	margin-top: 8em;
	margin-bottom: 4em;
	opacity: 0;
	animation: fadein ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 0.8s;
	animation-delay: 0.5s;
}

.work {
	display: flex;
	justify-content: space-between;
}

.work-3col {
	display: flex;
	justify-content: space-between;
	margin-top: -1.8em;
	margin-bottom: -1.8em;
}

.work-type {
	width: 29%;
}

/* Photography */

.row {
	display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {  
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Animations */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive */

@media (min-width: 769px) and (max-width: 1024px) {
	p.hero-para {
		width: 65%;
	}
	img.work-img {
		height: 325px;
	}	.hero-icons {
		width: 40%;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
		margin: auto 128px auto 128px;
	}
	.gallery {
		width: 49.9999%;
	}
	.home-imgblock {
		background-position: 57.25%;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.container {
		padding-left: 0;
		padding-right: 0;
		margin: auto 50px auto 50px;
	}
	.work {
		display: block;
	}
	.gallery {
		width: 49.9999%;
	}
	.homecontainer {
		width: 100%;
	}
	.home-imgblock {
		background-position: 52.5%;
	}
	.home-img {
		height: 450px;
	}
	p.hero-para {
		width: 75%;
	}
}

@media all and (max-width: 768px) {
	h2.GDtitle, p.GDprojectinfo {
		width: 100%;
	}
}

@media all and (max-width: 620px) {
	.gallery {
		width: 100%;
	}
	#photog-subtext {
		width: 100%;
	}
}

@media all and (max-width: 426px) {
	.container {
		padding-right: 15px;
    	padding-left: 15px;
		margin: auto 15px auto 15px;
	}
	nav, nav.home-nav {
		display: grid;
    	justify-content: center;
    	text-align: center;
    	line-height: 30px;
    	width: 100%;
    	margin-bottom: 1.5em;
	}
	a.nav-link {
		margin-left: 0;
	}
	p.project-info {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.banner {
		height: 600px;
	}
	.navRight {
		display: grid;
		text-align: center;
		width: 100%;
	}
	.navLeft {
		width: 100%;
		text-align: center;
	}
	.work {
		display: block;
	}
	.work-block {
		text-align: center;
	}
	.homecontainer {
		width: 100%;
	}
	.home-imgblock {
		background-position: left;
	}
	.herocontainer {
		margin-top: 4.5em;
	}
	.hero-icons {
		width: 100%;
		justify-content: space-around;
	}
	h1.hero-title, h3.hero-subtitle, p.hero-para {
		width: 100%;
		text-align: center;
	}
	.lightbox img {
		width: 90%;
		height: auto;
		margin: 42.5% auto;
	}
}

@media all and (max-width: 375px) {
	p.project-info {
		width: 100%;
	}
}

@media all and (max-width: 585px) {
	.col-3 {
		width: 100%;
		float: none;
		padding-bottom: 0;
	}
	.grid {
		display: inline-block;
		margin-top: auto;
		width: 100%;
	}
	.misc-img {
		padding-top: 100%;
	}
}

