@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i');

/* Variables */

/*$black: #424242;
$grey: #BDBDBD;
$blue: #5B95EB;*/

/* Type */

h1.hero-title {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
    font-size: 2.75em;
    margin-bottom: 0;
	color: #424242;
}

h3.hero-subtitle {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	margin-top: 0.1em;
    margin-bottom: 2.5em;
	color: #5B95EB;
}

p {
	font-family: "Nunito", sans-serif;
	font-size: 0.95em;
	line-height: 1.8em;
	color: #424242;
}

p.hero-para {
	font-weight: 100;
	width: 50%;
}


/* Divs */

.container {
	display: block;
	max-width: 850px;
	padding-top: 35px;
	padding-left: 250px;
	padding-right: 250px;
	padding-bottom: 100px;
	margin: auto;
}

.herocontainer {
	margin-top: 7em;
}